@media (max-width: 375px) {
    .error404 {
        section {
            margin: 0;
            div:nth-child(1) {
                width: 180px;
                height: 180px;
                h1 {
                    font-size: 2.5rem;
                }
            }
            div:nth-child(2) {
                h2 {
                    font-size: 1.25rem;
                    text-align: center;
                }
                div {
                    width: 60%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}