@media (max-width: 375px) {
    .experience {
            h2 {
                font-size: 3.125rem;
            }
            h3 {
                font-size: 1.875rem;
            }
            div {
                width: 90%;
                p {
                    font-size: 1.8rem;
                }
            }
        }
}