@media (max-width: 375px) {
    .about {
        h2 {
            font-size: 3.125rem;
        }
        div {
            width: 90%;
            p {
                font-size: 1.8em;
            }
        }
    }
}