@media (max-width: 768px) {
    .about {
        margin-bottom: 6.25rem;
            div {
                width: 90%;
                p {
                    font-size: 2rem;
                }
            }
        }
}