@media (max-width: 768px) {
    .footer-div {
            width: 50%;
            p {
                font-size: 1.5rem;
            }
        }
        .social {
            div {
                a {
                    img {
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }
        }
}
