/* Las variables se declaran con el signo $ */
$bebas-neue-font: "Bebas Neue", sans-serif;
$ubuntu: "Ubuntu", sans-serif;
$main-text: rgba(148, 163, 184, 0.897);
$subtitle-text: "Roboto Condensed", sans-serif;;
$main-gradient: linear-gradient(45deg, $main-text, rgb(0, 255, 242), $main-text) 1;
$bg-main: #001029;

/* reboot bootsrap variables */
$primary: #001029;