header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: flex-start;
}

.navbar-changes {
    div {
        div {
            ul {
                gap: 1.875rem;
                li {
                    a {
                        color: $main-text;
                        &:hover {
                            color: map-get($typografy-colors, h2 )
                        };
                    };
                };
            };
        };
    };
};