@media (max-width: 1024px) {
    .contact {
            h2 {
                font-size: 6.25rem;
            }
            div {
                form {
                    font-size: 2.5rem;
                    fieldset {
                        input {
                            width: 50rem;
                        }
                        textarea {
                            width: 50rem;
                        }
                        button {
                            width:  9.375rem;
                        }
                    }
                }
            }
        }
}